@media screen and (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}
@media screen and (max-width: 1699px) {
  .container {
    max-width: 1440px;
  }
  .inner-hero-section .hero-image {
    right: 0;
  }
  .hero-section .lg-heading {
    font-size: 64px;
    line-height: 74px;
  }
  .collaborate-section .left-image {
    left: -5%;
  }
  .collaborate-section .right-image {
    right: -5%;
  }
  .cricket-api-main .box-1 img {
    width: 8%;
  }
  .cricket-api-main .outer-circle {
    max-width: 450px;
    height: 450px;
    font-size: 14px;
  }
  .cricket-api-main .outer-circle .cricket-box .cricket-logo {
    height: 36px;
    width: 36px;
    padding: 4px;
  }
  .cricket-api-main .outer-circle .cricket-box .cricket-logo img {
    height: auto;
    width: auto;
  }
  .cricket-api-main .outer-circle .cricket-box .cricket-chip {
    padding: 9px 10px;
  }
  .cricket-api-main .outer-circle .middle-circle .inner-circle .logo-circle {
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    padding: 10px;
  }
  .cricket-api-main .outer-circle .middle-circle .inner-circle .red-chip:nth-of-type(2) {
    left: 110%;
  }
}
@media screen and (max-width: 1599px) {
  .container {
    max-width: 1280px;
  }
  .hero-section {
    min-height: 800px;
  }
  .animate-card {
    min-height: 80px !important;
    min-width: 80px !important;
  }
  .why-choose-section .server-img-back {
    width: 47%;
    top: 5%;
  }
  .collaborate-section .left-image {
    left: -6%;
    width: 33%;
  }
  .collaborate-section .right-image {
    right: -5%;
    width: 27%;
  }
  .cricket-api-main .cricket-chart-main {
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .cricket-api-main .cricket-chart-main .cricket-info-box-wrapper {
    padding: 28px 20px;
  }
  .cricket-api-main .cricket-chart-main .cricket-info-box2 {
    max-width: 360px;
  }
}
@media screen and (max-width: 1450px) {
  .hero-section .lg-heading {
    font-size: 55px;
    line-height: 70px;
  }
}
@media screen and (max-width: 1440px) {
  .cricket-api-main .cricket-chart-main {
    padding-bottom: 60px;
  }
  .cricket-api-main .cricket-chart-main .cricket-info-box1 {
    max-width: 360px;
  }
  .cricket-api-main .cricket-chart-main .cricket-info-box1 .cricket-info-box-wrapper {
    padding-bottom: 10px;
  }
  .collaborate-section .left-image {
    left: 1%;
    width: 26%;
  }
  .collaborate-section .right-image {
    right: 0;
    width: 22%;
  }
  .blog-arrow {
    max-width: 45px;
  }
  .container {
    max-width: 1190px;
  }
  .lg-heading {
    font-size: 55px;
    line-height: 70px;
  }
  .yellow-text {
    font-size: 24px;
    line-height: 30px;
  }
  .why-choose-section .server-img-back {
    top: 8%;
  }
  .why-choose-section .lg-heading img {
    left: 110%;
  }
  .content-block p {
    font-size: 30px;
    line-height: 40px;
  }
  .technologies-arrow {
    max-width: 55px;
  }
}
@media screen and (max-width: 1399px) {
  .inner-hero-section .hero-image .ball {
    right: 80px;
    bottom: -30px;
  }
  .inner-hero-section .hero-image .ball::before {
    right: 29px;
    top: 168px;
  }
  .inner-hero-section .hero-image .ball img {
    max-width: 250px;
  }
  .hero-section .desc-wrapper {
    margin-top: 40px;
  }
  .hero-section p {
    font-size: 20px;
  }
  .why-choose-section .lg-heading img {
    display: none;
  }
  .soccer-hero .soccer-hero-image img:nth-child(3) {
    max-width: 130px;
  }
  .soccer-hero .soccer-hero-image img:nth-child(4) {
    right: 0%;
    max-width: 320px;
    bottom: 10%;
  }
  .tennis-hero .soccer-hero-image img:nth-child(3) {
    max-width: 200px;
    bottom: 0;
  }
}
@media screen and (max-width: 1299px) {
  .why-choose-section .server-img-back {
    top: 14%;
  }
  .data-api .api-card-wrapper .line .main-arrow .arrow {
    width: 82px;
  }
}
@media screen and (max-width: 1199px) {
  .inner-hero-section .hero-image .ball img {
    max-width: 220px;
  }
  .cricket-api-main {
    padding: 60px 0 40px;
  }
  .cricket-api-main .text {
    margin-bottom: 50px;
  }
  .cricket-api-main .cricket-chart-main {
    padding: 0;
  }
  .cricket-api-main .cricket-chart-main .box-1,
  .cricket-api-main .cricket-chart-main .box-2 {
    position: unset;
    justify-content: center;
  }
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box1,
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box2,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box1,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box2 {
    transform: rotate(0);
    max-width: 400px;
  }
  .cricket-api-main .cricket-chart-main .box-1.box-1,
  .cricket-api-main .cricket-chart-main .box-2.box-1 {
    margin-bottom: 30px;
  }
  .cricket-api-main .cricket-chart-main .box-1.box-1 img,
  .cricket-api-main .cricket-chart-main .box-2.box-1 img {
    position: absolute;
    transform: translate(250px, 130px) rotate(45deg);
    width: auto;
  }
  .cricket-api-main .cricket-chart-main .box-1.box-2,
  .cricket-api-main .cricket-chart-main .box-2.box-2 {
    transform: translateY(0);
    margin-top: 20px;
  }
  .cricket-api-main .cricket-chart-main .box-1.box-2 img,
  .cricket-api-main .cricket-chart-main .box-2.box-2 img {
    transform: rotate(67deg) translate(-150px, 190px);
    position: absolute;
  }
  .header-wrap .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.87);
  }
  .technologies-arrow {
    max-width: 48px;
  }
  .technology-card-main {
    margin-top: 40px;
  }
  .blog-arrow {
    max-width: 30px;
    top: 7px;
  }
  .showcase-shape .position-absolute:nth-child(2) {
    left: -140px !important;
  }
  .showcase-shape .position-absolute:nth-child(3) {
    top: 44px !important;
  }
  .showcase-shape .position-absolute:nth-child(3) img {
    max-width: 240px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) {
    top: 44px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) {
    right: -148px !important;
  }
  .showcase-shape .text {
    max-width: 380px;
  }
  .combine-shape {
    max-width: 814px;
    margin: 0 auto;
  }
  .container {
    max-width: 992px;
  }
  .inner-hero-section .lg-heading,
  .lg-heading {
    font-size: 46px;
    line-height: 60px;
  }
  header .navbar-collapse {
    position: fixed;
    top: 0;
    left: -320px;
    display: flex;
    height: 100vh !important;
    width: 250px;
    padding: 20px;
    background-color: rgba(15, 18, 32, 0.8705882353);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -6.67px 6.67px 6.67px 0px rgba(255, 255, 255, 0.1019607843) inset, 6.67px -6.67px 6.67px 0px rgba(57, 27, 36, 0.1019607843) inset;
    transition: all 0.5s ease-in-out;
    z-index: 99999;
    flex-direction: column;
    justify-content: flex-start;
  }
  header .navbar-collapse.show {
    left: 0;
  }
  .header-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    top: 0;
    animation-duration: 0.3s;
    cursor: url("../assets/png/close.png"), pointer;
    opacity: 0;
    visibility: hidden;
  }
  .header-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  .join-our-experts {
    padding-bottom: 110px;
  }
  .laptop-img {
    max-width: 100%;
  }
  .footer-heading {
    margin-bottom: 20px;
  }
  .footer-heading .footer-arrow {
    max-width: 40px;
  }
  footer .footer-widget h3 {
    font-size: 18px;
  }
  footer .footer-widget ul li a {
    font-size: 15px;
  }
  .content-block {
    max-width: 530px;
  }
  .content-block p {
    font-size: 34px;
    line-height: 44px;
  }
  .api-text-wrapper {
    padding-left: 0 !important;
  }
  .inner-hero-section .hero-image .ball::before {
    top: 148px;
  }
}
@media screen and (max-width: 1024px) {
  .api-text-wrapper {
    padding-left: 0;
    max-width: 100% !important;
  }
  .api-text-wrapper h4 {
    font-size: 36px;
  }
  .join-our-experts > .container {
    margin-top: 0;
  }
  .join-our-experts > .container .expert-card-categorie {
    padding: 33px 50px 57px 50px;
  }
  .join-our-experts .experts-bg-heading {
    padding-bottom: 39px;
  }
  .join-our-experts .experts-bg-heading .text {
    margin-bottom: 0;
  }
  .inner-hero-section {
    padding-top: 112px;
    padding-bottom: 77px;
  }
  .cricket-api-main .cricket-chart-main .cricket-info-box-wrapper {
    font-size: 16px;
  }
  .match-status .status-list p {
    font-size: 18px;
    line-height: 1.2;
  }
  .soccer-hero .soccer-hero-image {
    max-width: 450px;
  }
}
@media screen and (max-width: 991px) {
  .md-heading {
    font-size: 44px;
  }
  .blog-main {
    padding: 50px 0;
  }
  .laptop-img {
    left: 0;
  }
  .showcase-shape .position-absolute:nth-child(2) {
    left: -100px !important;
  }
  .showcase-shape .position-absolute:nth-child(2) svg {
    width: 110px !important;
  }
  .showcase-shape .position-absolute:nth-child(2) img {
    left: -40px !important;
    max-width: 90px !important;
  }
  .showcase-shape .position-absolute:nth-child(3) {
    left: 30px !important;
  }
  .showcase-shape .position-absolute:nth-child(3) svg {
    height: 120px !important;
  }
  .showcase-shape .position-absolute:nth-child(3) img {
    max-width: 120px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) {
    top: 44px !important;
    right: 25px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) svg {
    height: 120px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) img {
    max-width: 120px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) {
    right: -100px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) svg {
    width: 110px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) img {
    left: 50px !important;
    max-width: 120px !important;
  }
  .dropdown-menu {
    top: 0 !important;
  }
  .lg-heading {
    font-size: 50px;
    line-height: 60px;
  }
  .why-choose-section .server-img-back {
    top: 18%;
    left: 0;
  }
  .why-choose-section .text {
    margin: 16px 0 0;
  }
  .cards-wrapper {
    margin-right: 0;
  }
  .choose-card {
    padding: 14px 14px 14px 0;
  }
  .choose-card .shape-card {
    display: none;
  }
  .ai-wrapper {
    padding-right: 0;
  }
  .ai-wrapper .server-img {
    margin: -48px auto 0;
  }
  .inner-circleted-dark {
    display: none;
  }
  .inner-circleted-light {
    display: none;
  }
  .expert-card-categorie::before {
    display: none;
  }
  .join-our-experts {
    padding-bottom: 60px;
  }
  .news-card .card-image img {
    max-width: 272px;
  }
  .news-content h6 {
    font-size: 16px;
    margin-bottom: 14px;
  }
  .our-product {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .our-product .tab-section .nav-tabs {
    width: 100%;
    gap: 40px;
  }
  .single-product-slide h3 {
    font-size: 30px;
  }
  .solution-main {
    -webkit-clip-path: none;
            clip-path: none;
  }
  .popular-games-main .tab-section {
    gap: 40px;
  }
  .popular-games-main .game-library .game-library-info {
    padding: 8px 0;
  }
  .popular-games-main .game-library .game-library-info h5 {
    font-size: 20px;
  }
  .popular-games-main .game-library .game-library-info a {
    height: 36px;
    width: 36px;
  }
  .content-block p {
    font-size: 30px;
    line-height: 40px;
  }
  .service-slider .item {
    margin-right: 0;
  }
  .technologies-tab .nav-item .nav-link {
    padding: 8px 14px;
  }
  .technology-logos li {
    min-width: 160px;
  }
  .technology-logos li:not(:first-child):before {
    top: 100px;
  }
  .technology-logos li:not(:first-child):after {
    bottom: 100px;
  }
  .technology-logos li .technology-box::before, .technology-logos li .technology-box::after {
    top: 100px;
  }
  .technology-logos li .technology-box .technology-logo-wrapper {
    min-height: 150px;
    max-height: 150px;
  }
  .inner-hero-section .shape-line {
    display: none;
  }
  footer .footer-widget {
    padding: 40px 0 30px 0;
  }
  footer .footer-links [class*=col-]:nth-of-type(2) {
    border: none;
  }
  footer .footer-links .col-lg-3 {
    padding: 0 20px;
  }
  .soccer-hero .row {
    margin-bottom: 0;
  }
  .soccer-hero .row .col-lg-5:nth-of-type(1) {
    padding-top: 0;
  }
  .tennis-include-odds::before {
    display: none;
  }
  .tennis-include-odds .row .col-12:nth-child(1) .tennis-include-odds-heading, .tennis-include-odds .row .col-12:nth-child(2) .tennis-include-odds-heading {
    border-radius: 10px;
  }
  .tennis-api-features .tennis-card-api-wrapper .col-lg-3 {
    padding: 0 12px;
  }
}
@media screen and (max-width: 767px) {
  .md-heading {
    font-size: 38px;
  }
  .chart-responsive img {
    max-width: 90%;
  }
  .cricket-api-main {
    padding: 40px 0 40px;
  }
  .cricket-api-main .cricket-chart-main .box-1,
  .cricket-api-main .cricket-chart-main .box-2 {
    font-size: 16px;
    line-height: 1.5;
  }
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box1,
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box2,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box1,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box2 {
    max-width: 75%;
  }
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box1.cricket-info-box1 .cricket-info-box-wrapper,
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box2.cricket-info-box1 .cricket-info-box-wrapper,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box1.cricket-info-box1 .cricket-info-box-wrapper,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box2.cricket-info-box1 .cricket-info-box-wrapper {
    padding-bottom: 20px;
  }
  .cricket-api-main .cricket-chart-main .box-1 img,
  .cricket-api-main .cricket-chart-main .box-2 img {
    display: none;
  }
  .score-p {
    margin-bottom: 46px;
  }
  .technologies-section {
    -webkit-clip-path: polygon(100% 0, 100% 91%, 12% 100%, 0 95%, 0 0);
            clip-path: polygon(100% 0, 100% 91%, 12% 100%, 0 95%, 0 0);
    padding-bottom: 60px;
  }
  .technologies-section .yellow-text-wrapper {
    margin-bottom: 6px;
  }
  .technologies-section .technologies-arrow {
    display: none;
  }
  .technologies-section .technology-card-main {
    margin-top: 30px;
  }
  .technologies-section .technology-logos li {
    min-width: 160px;
  }
  .technologies-section .technology-logos li:not(:first-child):before {
    top: 90px;
  }
  .technologies-section .technology-logos li:not(:first-child):after {
    bottom: 90px;
  }
  .technologies-section .technology-logos li .technology-box::before, .technologies-section .technology-logos li .technology-box::after {
    top: 90px;
  }
  .technologies-section .technology-logos li .technology-box .technology-logo-wrapper {
    min-height: 130px;
    max-height: 130px;
    padding: 12px;
  }
  .content-block p {
    font-size: 26px;
    line-height: 34px;
  }
  .collaborate-section {
    padding: 105px 0 95px;
  }
  .collaborate-section::after {
    height: 160px;
  }
  .collaborate-section .left-image,
  .collaborate-section .right-image {
    display: none;
  }
  .why-choose-betcraft-section {
    padding-top: 55px;
  }
  .popular-games-main .tab-section {
    gap: 30px;
  }
  .latest-news-card:first-child .card-image {
    margin-bottom: -100px;
  }
  .blog-arrow {
    display: none;
  }
  body {
    font-size: 14px;
    line-height: 1.25;
  }
  .lg-heading {
    font-size: 36px;
    line-height: 38px;
  }
  .yellow-text {
    font-size: 20px;
    line-height: 24px;
  }
  .inner-hero-section .lg-heading,
  .hero-section .lg-heading {
    font-size: 28px;
    line-height: 38px;
  }
  .inner-hero-section .why-choose-section,
  .hero-section .why-choose-section {
    padding: 50px 0;
  }
  .inner-hero-section .hero-image .ball::before,
  .hero-section .hero-image .ball::before {
    top: 120px;
    bottom: 12px;
    left: 60px;
    right: 17px;
  }
  .why-choose-section .server-img-back {
    width: 57%;
  }
  .step-wrapper {
    flex-direction: column;
  }
  .step-wrapper .round-wrapper {
    width: 50%;
    margin: 12px auto 0;
  }
  .join-our-experts > .container .experts-card {
    margin-bottom: 20px;
    gap: 10px;
  }
  .join-our-experts > .container .experts-card h6 {
    font-size: 18px;
    margin-bottom: 8px;
  }
  .join-our-experts > .container .experts-card .text {
    font-size: 14px;
  }
  .showcase-shape .position-absolute:nth-child(2) {
    left: 0px !important;
    top: 4px !important;
  }
  .showcase-shape .position-absolute:nth-child(2) svg {
    width: 60px !important;
  }
  .showcase-shape .position-absolute:nth-child(2) img {
    left: 0 !important;
    max-width: 60px !important;
  }
  .showcase-shape .position-absolute:nth-child(3) {
    left: 80px !important;
  }
  .showcase-shape .position-absolute:nth-child(3) svg {
    height: 80px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) {
    right: 90px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) svg {
    height: 80px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) img {
    left: 0 !important;
    max-width: 70px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) {
    right: 0 !important;
    top: 4px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) svg {
    width: 60px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) img {
    left: 0 !important;
    max-width: 60px !important;
  }
  footer .footer-widget {
    padding: 34px 0 28px 0;
  }
  footer .footer-widget h3 {
    margin-bottom: 30px;
    padding-bottom: 18px;
    font-size: 20px;
  }
  footer .footer-logo {
    max-width: 150px;
  }
  footer .footer-heading {
    margin-bottom: 15px;
  }
  footer .footer-heading .footer-arrow {
    max-width: 36px;
  }
  footer .footer-social a {
    height: 30px;
    width: 30px;
  }
  footer .footer-social a svg {
    height: 16px;
    width: auto;
  }
  footer .copy-right {
    font-size: 13px;
  }
  .product-slide-img {
    bottom: -20px;
    position: relative;
  }
  .our-product .tab-section .wrapper {
    margin: 0 auto 35px;
  }
  .our-product .tab-section .nav-tabs {
    gap: 30px;
  }
  .single-product-slide {
    padding: 16px 25px 20px 16px;
  }
  .services-main .services-arrow {
    display: none;
  }
  .data-api .api-card .text {
    font-size: 14px;
    line-height: 1.2;
  }
  .data-api .api-card .text span {
    font-size: 18px;
  }
  .data-api .api-card-wrapper {
    padding-top: 30px;
  }
  .data-api .api-card-wrapper .api-text-wrapper h4 {
    font-size: 30px;
    line-height: 37.8px;
  }
  .data-api .api-card-wrapper text {
    font-size: 14px;
  }
  .faq-main .questions-main {
    padding: 14px 20px 55px 20px;
  }
  .match-status {
    margin-bottom: 60px;
    padding: 20px 35px;
  }
  .match-status .status-list p {
    font-size: 18px;
    line-height: 1.2;
  }
  .inner-hero-section {
    padding-top: 122px;
    padding-bottom: 55px;
  }
  .inner-hero-section .hero-image .ball {
    right: 80px;
    bottom: -30px;
  }
  .inner-hero-section .hero-image .ball img {
    max-width: 200px;
  }
  .tennis-include-odds .tennis-include-odds-heading {
    padding: 16px;
  }
  .tennis-include-odds .tennis-include-odds-heading h4 {
    font-size: 24px;
    line-height: 1.2;
  }
  .tennis-included {
    padding: 20px;
  }
  .tennis-api-features .heading {
    font-size: 30px;
    line-height: 37.8px;
  }
}
@media screen and (max-width: 700px) {
  .our-product .tab-section .nav-tabs {
    justify-content: start;
  }
}
@media screen and (max-width: 575px) {
  .inner-hero-section .hero-image .ball {
    bottom: -20px;
  }
  .inner-hero-section .hero-image .ball img {
    max-width: 100px;
  }
  .md-heading {
    font-size: 32px;
  }
  .cricket-api-main .text {
    margin-bottom: 30px;
  }
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box1,
  .cricket-api-main .cricket-chart-main .box-1 .cricket-info-box2,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box1,
  .cricket-api-main .cricket-chart-main .box-2 .cricket-info-box2 {
    max-width: 100%;
  }
  .data-api .api-card .text span {
    font-size: 16px;
    line-height: 18.4px;
  }
  .data-api .api-card-wrapper {
    padding-top: 22px;
  }
  .data-api .api-card-wrapper .api-text-wrapper h4 {
    font-size: 26px;
    line-height: 1.2;
  }
  .score-p {
    margin-bottom: 30px;
  }
  .collaborate-section {
    padding: 85px 0 65px;
  }
  .collaborate-section .content-block p {
    font-size: 22px;
    line-height: 26px;
  }
  .collaborate-section::before {
    height: 162px;
  }
  .why-choose-betcraft-section {
    padding-top: 35px;
  }
  .blog-main .news-content .news-meta span {
    font-size: 14px;
  }
  .dotted-dark {
    right: 0;
  }
  .showcase-section {
    padding-bottom: 124px;
    padding-top: 70px;
  }
  .join-our-experts {
    padding-bottom: 24px;
  }
  .join-our-experts .experts-card .experts-img img {
    max-width: 50px;
  }
  .navbar-toggle {
    margin-right: 0;
  }
  .animate-column + .animate-column {
    margin-left: 10px;
  }
  .animate-card {
    min-height: 40px !important;
    min-width: 40px !important;
    padding: 8px !important;
  }
  .animate-card .ai-wrapper .server-img {
    margin: -24px auto 0;
    max-width: 90%;
  }
  .step-wrapper .round-wrapper {
    width: 100%;
  }
  .join-our-experts > .container .expert-card-categorie {
    padding: 24px;
  }
  .blog-main .news-card .news-content h6 {
    margin-bottom: 10px;
    line-height: 1.4;
  }
  .blog-main .news-card .news-content a {
    font-size: 14px;
  }
  .blog-main .news-card .news-content svg {
    margin-left: 2px;
    height: 8px;
  }
  .popular-games-main {
    padding: 20px 0 35px 0;
  }
  .faq-main .questions-main {
    padding: 14px 14px 20px 14px;
  }
  .faq-main .questions-main .accordion-item .accordion-button {
    font-size: 16px;
    line-height: 1.2;
    padding: 14px;
  }
  .faq-main .questions-main .accordion-item .accordion-collapse .accordion-body {
    padding: 6px 14px 14px;
    font-size: 14px;
  }
  .cricket-api-main .cricket-chart-main .cricket-info-box-wrapper {
    padding: 20px 12px;
    font-size: 14px;
  }
  footer .footer-widget {
    padding: 20px 0;
  }
  footer .footer-widget h3 {
    margin-bottom: 18px;
    padding-bottom: 12px;
  }
  footer .footer-widget ul li a {
    font-size: 14px;
  }
  footer .footer-widget ul li a:not(:last-child) {
    margin-bottom: 14px;
  }
  footer .footer-links {
    padding: 0 14px;
  }
  footer .footer-links [class*=col-]:nth-of-type(1) {
    border: none;
  }
  .match-status {
    padding: 11px 20px;
    margin-bottom: 40px;
  }
  .match-status .status-info {
    font-size: 16px;
  }
  .match-status .status-list {
    padding: 10px;
  }
  .match-status .status-list .d-flex {
    gap: 4px;
  }
  .match-status .status-list p {
    font-size: 16px;
    line-height: 1.2;
  }
  .soccer-hero .soccer-hero-image img:nth-child(3) {
    max-width: 90px;
  }
  .soccer-hero .soccer-hero-image img:nth-child(4) {
    max-width: 270px;
    top: 170px;
  }
  .tennis-hero .soccer-hero-image img:nth-child(3) {
    max-width: 150px;
  }
  .tennis-include-odds .tennis-include-odds-heading {
    padding: 14px;
  }
  .tennis-include-odds .tennis-include-odds-heading h4 {
    font-size: 18px;
  }
  .tennis-included {
    padding: 12px;
  }
  .tennis-included li {
    margin-bottom: 10px;
  }
  .tennis-included li p {
    font-size: 14px;
    line-height: 1.4;
  }
  .tennis-api-features .heading {
    font-size: 26px;
    line-height: 1.2;
  }
  .inner-hero-section .hero-image .ball::before {
    top: 66px;
    bottom: 5px;
    left: 30px;
    right: 8px;
  }
}
@media screen and (max-width: 475px) {
  .solution-card {
    height: 300px;
  }
  .solution-card img {
    max-height: 150px;
  }
  .solution-card:hover img {
    max-height: 120px;
  }
  .inner-hero-section .lg-heading,
  .lg-heading {
    font-size: 26px;
    line-height: 34px;
  }
  .inner-hero-section {
    padding-top: 82px;
    padding-bottom: 25px;
  }
  .sm-heading {
    font-size: 20px;
    line-height: 24px;
  }
  .logo-wrapper {
    max-width: 150px;
  }
  .hero-section {
    padding-bottom: 120px;
  }
  .company-slider-wrapper {
    padding: 12px;
  }
  .company-slider-wrapper::before, .company-slider-wrapper::after {
    height: 25px;
  }
  .choose-card {
    flex-direction: column;
  }
  .choose-card .img-out {
    margin-right: auto;
  }
  footer .footer-heading .footer-arrow {
    max-width: 26px;
  }
  .single-product-slide h3 {
    margin-bottom: 8px;
  }
  .single-product-slide p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .showcase-shape .position-absolute:nth-child(2) {
    top: 20px !important;
  }
  .showcase-shape .position-absolute:nth-child(4) {
    right: 65px !important;
  }
  .showcase-shape .position-absolute:nth-child(5) {
    right: 0 !important;
    top: 20px !important;
  }
  .soccer-hero .soccer-hero-image img:nth-child(4) {
    max-width: 240px;
    top: 70px;
    right: 0;
  }
}/*# sourceMappingURL=responsive.css.map */