$gray-100: #C2C3CF;

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1304px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    max-width: 1190px;
  }
  .lg-heading {
    font-size: 66px;
  }
  .heading {
    h2 {
      font-size: 46px;
    }
  }
  .why-choose-section {
    .why-card{
      &.one{
        small{
            transform: translateY(-50%) skewX(47deg);
            left: calc(100% + 41px);
        }
      }
      &.two{
        small{
            transform: skewX(-47deg) rotate(180deg) translateY(-50%);
            left: calc(100% + 83px);
        }
      }
      &.three{
        small{
            transform: translateY(-50%) skewX(-47deg);
            right: calc(100% + 41px);
        }
      }
      &.four{
        small{
            transform:skewX(47deg) rotate(180deg) translateY(-50%);
            right: calc(100% + 83px);
        }
      }
    }
  } 
  .sport-betting-api-main {
    .single-box {
      &::after {
        top: 42px;
        left: 117px;
        width: calc(100% - 120px);
        height: calc(100% - 42px);
      }
      .round-img-wrapper {
        height: 85px;
        width: 85px;
      }
      .content {
        padding-left: 85px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .header-wrap {
    .navbar-collapse {
      background-color: rgb(255 255 255 / 87%);
    }
  }
  .heading {
    h2 {
      font-size: 42px;
    }
  }

  header .navbar-collapse {
    position: fixed;
    top: 0;
    left: -320px;
    display: flex;
    height: 100vh !important;
    width: 250px;
    padding: 20px;
    background-color: #0f1220de;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -6.67px 6.67px 6.67px 0px rgba(255, 255, 255, 0.1019607843)
        inset,
      6.67px -6.67px 6.67px 0px rgba(57, 27, 36, 0.1019607843) inset;
    transition: all 0.5s ease-in-out;
    z-index: 99999;
    flex-direction: column;
    justify-content: flex-start;

    &.show {
      left: 0;
    }
  }

  .header-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    top: 0;
    animation-duration: 0.3s;
    cursor: url("../assets/png/close.png"), pointer;
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .lg-heading {
    font-size: 56px;
  }
  .api-inner-info {
    .api-img{
     display: none;
    }
  }
  .sport-betting-api-main {
    .single-box {
      &::after {
        top: 32px;
        left: 102px;
        width: calc(100% - 100px);
        height: calc(100% - 32px);
      }
      .round-img-wrapper {
        height: 70px;
        width: 70px;
        img {
          max-width: 40px;
        }
      }
      .content {
        padding-left: 70px;
        p {
          font-size: 14px;
        }
      }
    }
  }
  .testimonial-wrapper {
    [class*="arrow-"] {
      top: unset;
      bottom: 10px;
      transform: translateY(0);
      &[class*="-prev"] {
        right: 50.5%;
        left: unset;
      }
      &[class*="-next"] {
        left: 50.5%;
        right: unset;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 991px) {
  .lg-heading {
    font-size: 45px;
  }
  .pt-70 {
    padding-top: 50px;
  }
  .pb-70 {
    padding-bottom: 50px;
  }
  .heading {
    h2 {
      font-size: 38px;
    }
  }
  .banner-section {
    margin-bottom: 280px;
    .img-wrapper {
      margin-bottom: -220px;
    }
  }
  .api-solution-main {
    .heading {
      margin-bottom: 50px;
    }
    .single-box {
      .round-img-wrapper {
        margin-bottom: 20px;
      }
    }
    .arrows {
      display: none;
    }
  }
  .testimonial-wrapper {
    padding: 30px 15px 60px;
    &::after {
      transform: rotate(4deg);
    }
    &::before {
      transform: rotate(-4deg);
    }
  }
  .why-choose-section{
    .why-card{
      text-align: center;
      padding: 28px 16px 16px;
      &::after{
        position: absolute;
        content: '';
        left: 50%;
        top: calc(100% + 12px);
        width: 1px;
        transform: translateX(-50%);
        background: $gray-100;
        height: 86px;
      }
      &::before{
        width: calc(100% - 48px);
        left: 24px;
        right: 24px;
      }
      &:last-child{
        &::after{
          display: none;
        }
      }
      .icon-wrap{
          right: unset;
          top: -4px;
          left: 50%;
          transform: translate(-50%, -50%);
          &::before{
            background: linear-gradient(180deg, #C2C3CF 7.72%, #FFFFFF 62.24%);
          }
        small{
          display: none;
        }
      }
      &.left{
        text-align: center;
        padding: 28px 16px 16px;
        &::before{
          width: calc(100% - 48px);
          left: 24px;
          right: 24px;
        }
        .icon-wrap{
          right: unset;
          top: -4px;
          left: 50%;
          transform: translate(-50%, -50%);
          &::before{
            background: linear-gradient(180deg, #C2C3CF 7.72%, #FFFFFF 62.24%);
          }
        }
      }
      &.one{
        margin-top: 60px;
      }
    }
    .inner-logo{
      margin-bottom: 70px;
      margin-top: 50px;
      &::after{
        position: absolute;
        content: '';
        left: 50%;
        top: -38px;
        bottom: -70px;
        width: 1px;
        transform: translateX(-50%);
        background: $gray-100;
      }
    }
    .global-wrapper{
      height: 88px;
      width: 88px;
    }
    .wrap{
      max-width: 575px;
    }
  }
}

@media screen and (max-width: 767px) {
  .odds-feeds-inner{
    max-width: 70%;
    margin: 0 auto;
  }
  body {
    font-size: 14px;
  }
  .lg-heading {
    font-size: 40px;
  }
  .heading {
    h2 {
      font-size: 34px;
    }
    h6 {
      font-size: 14px;
      border-radius: 6px;
      padding: 6px 18px;
    }
  }
  .banner-section {
    margin-bottom: 230px;
    .shape2 {
      display: none;
    }
    .img-wrapper {
      margin-bottom: -180px;
    }
  }
  .betting-casino-main {
    .single-box {
      h5 {
        font-size: 17px;
        margin-bottom: 4px;
      }
    }
  }
  .btn {
    font-size: 14px;
    padding: 7px 14px;
  }
  .accordion-header {
    p {
      font-size: 16px;
    }
  }
  .faq-section {
    .accordion {
      .accordion-item {
        .accordion-header {
          .accordion-button {
            font-size: 16px;
            line-height: 1.4;
            gap: 8px;
            span {
              align-self: baseline;
            }
          }
        }
      }
    }
  }
  .free-support-section {
    .support-card {
      padding: 40px 20px;
      .right-support, .left-support{
        mix-blend-mode: soft-light;
      }
    }
  }
  .api-inner-info{
    padding: 40px 12px;
  }
}

@media screen and (max-width: 575px) {
  .pt-70 {
    padding-top: 40px;
  }
  .pb-70 {
    padding-bottom: 40px;
  }
  .lg-heading {
    font-size: 34px;
  }
  .heading {
    h2 {
      font-size: 30px;
    }
  }
  .logo-wrapper {
    max-width: 185px;
  }
  .banner-section {
    margin-bottom: 170px;
    .img-wrapper {
      margin-bottom: -130px;
    }
  }
  .sport-betting-api-main {
    .single-box {
      &::after {
        left: 88px;
        transform: skewX(14deg);
      }
      .content {
        max-width: 95%;
      }
    }
  }

  .betting-casino-main {
    .single-box {
      .img-wrapper {
        min-height: unset;
        margin-bottom: 18px;
      }
    }
  }

  .api-shape{
    img{
      width: 32vw;
    }
  }

  footer {
    .footer-widget {
      padding: 0;

      h3 {
        margin-bottom: 0;
        padding-bottom: 12px;
      }

      ul {
        li {
          a {
            font-size: 14px;

            &:not(:last-child) {
              margin-bottom: 14px;
            }
          }
        }
      }
    }
    .footer-links {
      padding: 0 14px;

      [class*="col-"]:nth-of-type(1) {
        border: none;
      }
    }
  }
  .api-solution-main {
    .heading {
      margin-bottom: 40px;
    }
    .single-box {
      .round-img-wrapper {
        img {
          max-width: 40px;
        }
      }
      h5 {
        margin-bottom: 10px;
        font-size: 22px;
      }
    }
  }
}

@media screen and (max-width: 475px) {
  .odds-feeds-inner{
    max-width: 90%;
  }
  .odds-feeds-inner::before{
    right: -11px;
  }
  .odds-feeds-inner .odds-feeds-img:after{
    right: -10px;
  }
  [class*=col-]:last-child .odds-feeds-inner::before{
    left: -11px;
  }
  [class*=col-]:last-child .odds-feeds-img:after{
    left: -10px;
  }
  .lg-heading {
    font-size: 30px;
  }
  .heading {
    h2 {
      font-size: 28px;
    }
  }
  .banner-section {
    margin-bottom: 150px;
    .img-wrapper {
      margin-bottom: -110px;
    }
  }
  footer {
    .footer-heading {
      .footer-arrow {
        max-width: 26px;
      }
    }
  }

  .single-product-slide {
    h3 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
