@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "../bootstrap/scss/bootstrap";
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$primary: #ea231c;
$primary-50: #df1a13;
$primary-100: #e30613;
$primary-200: #95060f;
$primary-300: #eb4d13;
$primary-400: #ed8406;
$primary-500: #FAD0D0;
$white: #ffffff;
$black: #000000;
$dark: #212121;
$gray: #F7F7F9;
$gray-50: #C5C5DC;
$sf-regular: "sf-regular";
$sf-medium: "sf-medium";
$sf-bold: "sf-bold";
$theme-colors: (
  "primary": $primary,
);

// Bootstrap and its default variables
@import "../bootstrap/scss/bootstrap";

/* Regular (Normal) weight */
@font-face {
  font-family: "sf-regular";
  src: url("../fonts/sf-pro/sf-regular.ttf") format("truetype"),
    url("../fonts/sf-pro/sf-regular.eot") format("embedded-opentype"),
    url("../fonts/sf-pro/sf-regular.woff") format("woff"),
    url("../fonts/sf-pro/sf-regular.woff2") format("woff2"),
    url("../fonts/sf-pro/sf-regular.otf") format("opentype");
  font-weight: 400;
}
/* Regular (Normal) weight */
@font-face {
  font-family: "sf-medium";
  src: url("../fonts/sf-pro/sf-medium.ttf") format("truetype"),
    url("../fonts/sf-pro/sf-medium.eot") format("embedded-opentype"),
    url("../fonts/sf-pro/sf-medium.woff") format("woff"),
    url("../fonts/sf-pro/sf-medium.woff2") format("woff2"),
    url("../fonts/sf-pro/sf-medium.otf") format("opentype");
  font-weight: 500;
}
/* Regular (Normal) weight */
@font-face {
  font-family: "sf-bold";
  src: url("../fonts/sf-pro/sf-bold.ttf") format("truetype"),
    url("../fonts/sf-pro/sf-bold.eot") format("embedded-opentype"),
    url("../fonts/sf-pro/sf-bold.woff") format("woff"),
    url("../fonts/sf-pro/sf-bold.woff2") format("woff2"),
    url("../fonts/sf-pro/sf-bold.otf") format("opentype");
  font-weight: 700;
}

body {
  background-color: #ffffff;
  font-family: "Geist", serif;
  margin: 0;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5;
}

button {
  border: 0;
  outline: 0;
  background-color: transparent;
}

button:focus-visible {
  outline: 0;
  box-shadow: none !important;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.btn-outline-primary {
  &:hover {
    color: #ffffff;
  }
}

.w-nowrap {
  white-space: nowrap;
}

.btn {
  padding: 8px 20px;
}

.btn-primary {
  background: linear-gradient(180deg, $primary-100 0%, $primary-200 100%);
  color: #ffffff;

  &:hover {
    background: linear-gradient(180deg, $primary-200 0%, $primary-100 100%);
    color: #ffffff;
  }
}

.btn-outline-text {
  border-color: #ffffff;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

.form-control,
.form-select {
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
  }
}
.pt-70 {
  padding-top: 70px;
}
.pb-70 {
  padding-bottom: 70px;
}
.heading {
  margin-bottom: 20px;
  h6 {
    background-color: rgba($primary, 5%);
    padding: 6px 25px;
    color: $primary;
    display: inline-block;
  }
  h2 {
    font-size: 50px;
    color: $dark;
    span {
      color: $primary;
    }
  }
}

header {
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
  z-index: 9;
  .navbar {
    padding: 13px 20px;
    box-shadow: -6.67px 6.67px 6.67px 0px #ffffff1a inset,
      6.67px -6.67px 6.67px 0px #391b241a inset;
    background-color: #ffffff0d;
    border-radius: 10px;
    backdrop-filter: blur(10px);

    &.dark-header {
      background-color: #11182cde;
    }
    .nav-item {
      .nav-link {
        color: #ffffff;
        padding: 8px 16px;
        font-size: 14px;
        font-family: $sf-medium;
      }
    }
  }
  .dropdown-toggle {
    font-size: 14px;
    font-family: $sf-medium;
    border: none;
    background-color: transparent;
    color: #ffffff;
    padding: 8px 16px;
    &::after {
      border: none;
      height: 6px;
      width: 12px;
      background: url(../assets/svg/down-arrow.svg);
      background-repeat: no-repeat;
      vertical-align: 0.055em;
      background-size: contain;
    }
  }

  .dropdown-menu {
    background-color: #52525297;
    backdrop-filter: blur(12px);
    top: calc(100% + 11px) !important;

    .dropdown-item {
      color: #ffffff;

      &:hover {
        background-color: #ffffff21;
      }
    }
  }

  .navbar-toggler {
    border: 0;
    padding: 0;
    margin-right: 14px;

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      color: #fff;
    }
  }

  .navbar-collapse {
    justify-content: center;
  }

  .contact-side {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    .btn {
      padding: 8px 20px;
    }
  }
}

// Banner Style
.banner-section {
  background: url("../assets/png/banner-bg.png");
  padding: 140px 0 410px;
}

/* Api Section */
.api-inner-info {
  border: 1px solid $primary-500;
  border-radius: 10px;
  padding: 40px;
}

/* FAQs Css */
.accordion {
  .accordion-item {
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid transparent;
    .accordion-header {
      .accordion-button {
        background-color: $gray;
        box-shadow: none;
        padding: 15px;
        border-radius: 10px;
        font-size: 18px;
        color: $dark;
        span {
          margin-right: 4px;
        }
        &:focus {
          box-shadow: none;
        }
        &:after {
          background-image: url('../assets/svg/plus.svg');
        }
        &[aria-expanded="true"] {
          background-color: transparent;
          &:after {
            background-image: url('../assets/svg/minus.svg');
          }
        }
      }
    }
    .accordion-body {
      padding: 0 15px 15px;
      p {
        color: rgba($dark, 70%);
        font-size: 14px;
        line-height: 1.5;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &:has(.accordion-button[aria-expanded="true"]) {
      box-shadow: 9px 29px 30px 0px #9C545417;
      border-color: $primary;
    }
  }
}

/* Footer Css */
footer {
  background-color: $gray;
  padding: 40px 0;
  .footer-widget {
    h3 {
      color: $dark;
      font-size: 22px;
    }
    ul {
      li {
        padding: 7px 0;
        a {
          text-decoration: none;
          color: rgba($dark, 70%);
          font-size: 16px;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
  .bottom-footer {
    border-top: 1px solid $gray-50;
    padding-top: 15px;
    margin-top: 30px;
    .footer-social {
      h6 {
          margin-right: 15px;
          margin-bottom: 0;
          font-size: 22px;
          color: $dark;
          font-weight: 400;
      }
  
      a {
          height: 40px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          border-radius: 50%;
          background-color: $white;
          color: $dark;
          &:hover {
            color: $white;
            background-color: $primary;
          }
  
          @media screen and (max-width: 767px) {
              height: 30px;
              width: 30px;
          }
  
          svg {
              @media screen and (max-width: 767px) {
                  height: 16px;
                  width: auto;
              }
          }
      }
    }
    .copy-right {
      color: rgba($dark, 70%);;
    }
  }
}